html, body {
  font-family: "Open Sans";
  font-size: 1.1em;
  text-align: center;
  background-color: rgb(0, 0, 116);
  color: white;
}

table {
  margin: 1em auto;
  display: inline-block;
}

th, td {
  padding: .3em 1em;
  border: 1px solid rgb(186, 191, 255);
}

#calculator {
  border: 4px ridge rgb(186, 191, 255);
  border-radius: 3px;
  padding: .35em;
  width: 35%;
  max-width: 320px;
  margin: 1.25em auto;
}

#display {
  text-align: right;
  border: 1px ridge rgb(186, 191, 255);
  border-radius: 3px;
  margin-bottom: .25em;
  font-size: 1.2em;
  color: white;
  background-color: rgb(0, 0, 96);
  padding: .2em;
}

#expression {
  opacity: .7;
  padding: .15em;
}

#result {
  text-align: end;
  padding: .15em;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1px;
}

#divide {
  grid-column-start: 4;
}

#equals {
  grid-column-end: -1;
  grid-row: 4 / 6;
}

button, #helpToggle {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 1.1em;
  color: white;
  padding: .4em;
  background: linear-gradient(0deg, rgb(0, 5, 144) 0%, rgb(0, 0, 165) 75%, rgb(0, 9, 179) 100%);
  outline: 1px solid rgba(96, 106, 255, 0.8);
  border: none;
  transition: all .1s ease;
  cursor: default;
}

button:hover, #helpToggle:hover {
  outline: 1px solid rgb(200, 200, 255);
  z-index: 50;
}

button:active, .active {
  outline: 4px solid rgb(202, 202, 255);
  z-index: 100;
}

.special {
  color: rgb(206, 151, 62);
  background: linear-gradient(0deg, rgba(3, 3, 160, 0.8) 0%, rgba(3, 3, 173, 0.8) 35%, rgba(3, 3, 196, 0.8) 100%);
}

.special:hover {
  outline: 1px solid rgb(206, 151, 62);
  z-index: 50;
}

.special:active, .special.active {
  outline: 4px solid rgb(206, 151, 62);
  z-index: 100;
}

#help {
  margin: 1em auto;
  transition: all .1s ease;
  opacity: 1;
  outline: 1px solid rgba(105, 115, 255, .8);
}

.hidden {
  display: none;
  opacity: 0; 
}
