body, html {
  font-family: arcade, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: grid;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,5,130,1) 0%, rgba(0,0,150,1) 35%, rgba(0,11,170,1) 100%);
  color: white;
}

.container {
  margin: auto;
  width: 100%;
}

#calculator {
  border: 4px ridge rgb(186, 191, 255);
  border-radius: 3px;
  padding: .5em;
  width: 50%;
  margin: auto;
}

#display {
  text-align: right;
  border: 1px ridge rgb(186, 191, 255);
  border-radius: 3px;
  margin-bottom: .25em;
  font-size: 1.5em;
  color: white;
  padding: .2em;
}

#expression {
  opacity: .7;
  padding: .15em;
}

#result {
  text-align: end;
  padding: .15em;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1px;
}

#divide {
  grid-column-start: 4;
}

#equals {
  grid-column-end: -1;
  grid-row: 4 / 6;
}

button {
  display: inline-block;
  font-family: arcade;
  font-size: 1.25em;
  color: white;
  padding: .5em;
  background: linear-gradient(0deg, rgba(0,7,174,1) 0%, rgba(0,0,190,1) 75%, rgba(0,12,210,1) 100%);
  outline: 1px solid rgb(105, 115, 255);
  border: none;
  transition: all .1s ease;
}

button:hover {
  outline: 1px solid rgb(225, 228, 255);
  z-index: 50;
}

button:active, .active {
  transform: none;
  outline: 4px solid rgb(202, 202, 255);
  z-index: 100;
}

#equals, #sign, #clear, #backspace, .operator {
  color: rgb(206, 151, 62);
  background: linear-gradient(0deg, rgba(3,4,190,.8) 0%, rgba(4,4,211,.8) 35%, rgba(4,4,230,.8) 100%);
  font-weight: bold;
}

@font-face {
  font-family: arcade;
  src: url("press-start-2p/PressStart2P-Regular.ttf") format("woff");
}
